$accent-color: #e7426a;
$header-bottom-bgr-color: #ffffff;
$header-top-bgr-color: #f7ebe5; // $header-bg-color: #F7EBE5;
$logo-color: #b3d9f3;
$primary-text-color: #292929;
$header-top-text-color: rgba(0, 0, 0, 0.79);
// $header-color: rgba(0, 0, 0, 0.79);
$border-color: rgba(0, 0, 0, 0.1);
$black-color: #000000;

$hero-bgc-blue: rgba(152, 224, 194, 0.38);
$hero-bgc-pink: rgba(255, 252, 189, 0.45);
$nav-color: #2b1414;

$primary-font: 'Proxima Nova', sans-serif;

$timing-function: linear;
$duration: 250ms;
