// Сброс настроек

// body {
//   font-family: $primary-font;
//   //   margin: 0;
//   //   background-color: $primary-white-color;
//   //   color: $primary-text-color;
//   //   font-family: $primary-font;
//   //   letter-spacing: 0.03em;
// }
body {
  font-family: $primary-font;
  // font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  color: $primary-text-color;

  opacity: 0.8;
}

// заголовки и параграфы
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

// списки
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

// элементы списка
li {
  list-style: none;
}

// ссылки
a {
  text-decoration: none;
}

// картики
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// позиционируем список
// .list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: calc(-1 * 30px);
//   margin-bottom: calc(-1 * 30px);
//   // margin-left: calc(-1 * $image-set-gap);
//   // margin-bottom: calc(-1 * $image-set-gap);
// }

// .list .item {
//   margin-left: $image-set-gap;
//   margin-bottom: $image-set-gap;
// }
